.main {
    &__img {

        & h2 {
            font-size: 100px;
            margin-bottom: 50px;
        }

        & p {
            font-size: 30px;
        }
    }

    &__middle {
        width: 100%;
        margin-top: 50px;

        & h3 {
            font-size: 35px;
            margin: 0 0 50px 0;

            &:nth-of-type(2),
            &:nth-of-type(3){
                margin-top: 50px;
            }
        }

        & .content {
    
            & img {
                height: 300px;
            }

            & .text {
                width: 45%;

                & h4 {
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-size: 35px;
                }
                & p {
                    margin: 30px 0;
                }

            }
        }


    }

    &__start {
        width: 60%;
        margin: 50px auto 0 auto;

        & h3 {
            font-size: 45px;
        }

        & p {
            line-height: 30px;
        }

    }

    &__build {
        height: 400px;

        & h3 {
            font-size: 60px;
            
            &.entry {
                top: 20%;
            }
        }
    }

    & .writer {

        & p {
            margin: 0 0 20px 0;
            font-size: 30px;
        }

        & a {
            width: 80%;
        }
    }
} 