.main {

    &__img {

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 23px;
        }
    }

    &__middle {
        margin-top: 40px;

        & h3 {
            font-size: 40px;
            margin: 0 0 40px 0;

            &:nth-of-type(2),
            &:nth-of-type(3){
                margin-top: 40px;
            }
        }

        & .content {
    
            & img {
                height: 330px;
            }

            & .text {

                & h4 {
                    font-size: 30px;
                }

                & p {
                    font-size: 17px;
                }
            }

            & .text {
                & .button {
                    width: 50%;
                }
            }
        }
    }

    &__start {
        & h3 {
            font-size: 40px;
        }

        & p {
            font-size: 17px;
        }
    }

    &__build {
        height: 300px;

        & h3 {
            font-size: 45px;
            
            &.entry {
                top: 20%;
            }
        }
    }

    & .writer {
        & p {
            font-size: 25px;
        }

        & a {
           width: 70%; 
           margin: 0 auto;
        }
    }

}